/*
-----------------------------------------------------------------
Letterboxd fonts 
-----------------------------------------------------------------
*/

@font-face {
  font-family: TiemposHeadlineWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-Bold.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-Bold.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TiemposHeadlineWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-BoldItalic.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-BoldItalic.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-BoldItalic.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-BoldItalic.woff)
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: TiemposTextWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Regular.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Regular.woff2) format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: TiemposTextWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposTextWeb-RegularItalic.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-RegularItalic.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-RegularItalic.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-RegularItalic.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: TiemposTextWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Semibold.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Semibold.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Semibold.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Semibold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TiemposTextWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposTextWeb-SemiboldItalic.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-SemiboldItalic.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-SemiboldItalic.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-SemiboldItalic.woff)
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-Light-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-Light-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-Light-Web.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-Regular-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-Regular-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-Regular-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-RegularItalic-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-RegularItalic-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-RegularItalic-Web.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-Semibold-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-Semibold-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-Semibold-Web.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-SemiboldItalic-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-SemiboldItalic-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-SemiboldItalic-Web.woff)
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-Bold-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-Bold-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-Bold-Web.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: GraphikWeb;
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-BoldItalic-Web.woff2) format("woff2"),
    url(https://s.ltrbxd.com/fonts/Graphik-BoldItalic-Web.woff) format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: GraphikWeb;
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-Black-Web.woff2) format("woff2"),
    url(https://s.ltrbxd.com/fonts/Graphik-Black-Web.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: GraphikWeb;
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-BlackItalic-Web.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/Graphik-BlackItalic-Web.woff) format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: PitchSansWeb;
  src: url(https://s.ltrbxd.com/fonts/PitchSansWeb-Medium.eot);
  src:
    url(https://s.ltrbxd.com/fonts/PitchSansWeb-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/PitchSansWeb-Medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PitchSansWeb;
  src: url(https://s.ltrbxd.com/fonts/PitchSansWeb-MediumItalic.eot);
  src:
    url(https://s.ltrbxd.com/fonts/PitchSansWeb-MediumItalic.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/PitchSansWeb-MediumItalic.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: ColorEmoji;
  src:
    local("Apple Color Emoji"), local("Segoe UI Emoji"),
    local("Segoe UI Symbol"), local("Noto Color Emoji");
}

/*
-----------------------------------------------------------------
Base style
-----------------------------------------------------------------
*/

:root {
  --font-stack-graphik:
    GraphikWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans",
    Meiryo, sans-serif, ColorEmoji;
  --font-stack-tiempos-headline: TiemposHeadlineWeb, Georgia, serif, ColorEmoji;
  --font-stack-tiempos-text: TiemposTextWeb, Georgia, serif, ColorEmoji;
  --font-stack-pitch-sans:
    PitchSansWeb, Menlo, "Droid Sans Mono", "Lucida Console", Consolas, Monaco,
    Courier, monospace, ColorEmoji;

  --color-text: #def;
  --color-text-muted: #abc;
  --color-text-white: #fff;
  --color-text-gray: #9ab;
  --color-green: #00e054;
  --color-green-transparent: #00e05410;
  --color-green-dark: #005a22;
  --color-blue: #40bcf4;
  --color-blue-transparent: #40bcf410;
  --color-blue-dark: #075274;
  --color-orange: #ee7000;
  --color-orange-transparent: #ee700010;
  --color-orange-dark: #5f2d00;
  --color-background: #14181c;
  --color-background-dark: #12161a;
  --color-background-muted: #1e2429;

  --rounded: 0.33rem;

  --card-outline:
    inset 0 0 0 1px rgba(221, 238, 255, 0.25), 0 3px 10px rgba(0, 0, 0, 0.15);
  --card-outline-active:
    inset 0 0 0 3px rgba(221, 238, 255, 0.5), 0 3px 10px rgba(0, 0, 0, 0.15);

  --detail-page-width: 80rem;
  --detail-page-poster-size: 16rem;
  --detail-page-poster-gap: 3rem;

  color: var(--color-text);
}

* {
  font-family: var(--font-stack-graphik);
  box-sizing: border-box;
}

h1,
h1 * {
  font-family: var(--font-stack-tiempos-headline);
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
  color: var(--color-text-muted);
}

/*
-----------------------------------------------------------------
Background
-----------------------------------------------------------------
*/

:root,
html,
.backgroundContainer,
.dialog,
.nowPlayingContextMenu,
.nowPlayingPlaylist,
.drawer-open,
.mainDrawer {
  background-color: var(--color-background);
}

.collapseContent,
.formDialogFooter:not(.formDialogFooter-clear),
.formDialogHeader:not(.formDialogHeader-clear),
.paperList,
.visualCardBox {
  background-color: var(--color-background-dark);
}

.backgroundContainer:not(.withBackdrop):not(
    .backgroundContainer-transparent
  )::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://s.ltrbxd.com/static/img/content-bg-CFRqxbz-.png)
    0 -1px repeat-x !important;
}

/*
-----------------------------------------------------------------
Sidebar
-----------------------------------------------------------------
*/

@media (hover: hover) and (pointer: fine) {
  .paper-icon-button-light:hover:not(:disabled) {
    background-color: var(--color-blue-transparent);
    color: var(--color-blue);
  }
}

.mainDrawer .scrollContainer {
  padding-top: 1rem;
}

.mainDrawer .sidebarHeader {
  font-size: 0.9rem;
  color: var(--color-text-gray);
  text-transform: uppercase;
  letter-spacing: 0.07692308em;
  padding-left: 1.5rem;
  margin-top: 1.5rem;
}

.navMenuOption:hover {
  color: var(--color-blue);
  background-color: var(--color-background-dark);
}

/*
-----------------------------------------------------------------
Dialog
-----------------------------------------------------------------
*/

.dialog {
  border-radius: var(--rounded) !important;
}

/*
-----------------------------------------------------------------
Header
-----------------------------------------------------------------
*/

.skinHeader-withBackground {
  background-color: var(--color-background);
}

.skinHeader.semiTransparent {
  background-color: var(--color-background-dark);
  border-bottom: 1px solid var(--color-background-muted);
}

.emby-tab-button {
  color: var(--color-text-gray);
  text-transform: uppercase;
  letter-spacing: 0.07692308em;
}

.emby-tab-button.show-focus:focus,
.emby-tab-button:hover {
  color: var(--color-blue);
}

.emby-tab-button-active,
.emby-tab-button-active:hover {
  color: var(--color-text-white);
  cursor: default;
}

/*
-----------------------------------------------------------------
Cards
-----------------------------------------------------------------
*/

.card {
  cursor: default;
}

.cardScalable::after {
  border-radius: var(--rounded);
  pointer-events: none;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: var(--card-outline);
  transition: box-shadow 0.3s ease-out;
}

.cardScalable:has(a):hover::after {
  box-shadow: var(--card-outline-active);
}

.card-hoverable:hover .cardOverlayContainer {
  opacity: 0;
}

.cardScalable:hover .cardOverlayContainer {
  opacity: 1;
}

.cardScalable:has(.playedIndicator) {
  opacity: 0.2;
  transition: opacity 0.2s ease-out;
}

.cardScalable:has(.playedIndicator):hover {
  opacity: 1;
}

.cardScalable .playedIndicator {
  opacity: 0;
}

.cardText-first {
  padding: 0.3em 0 0.15em;
  white-space: wrap;
}

.cardText-first bdi {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: wrap;
  line-height: 1.2;
}

/*
-----------------------------------------------------------------
Catalog Page
-----------------------------------------------------------------
*/

.alphaPickerButton {
  color: var(--color-text-muted);
}

.alphaPickerButton:hover {
  color: var(--color-white);
}

/*
-----------------------------------------------------------------
Detail Page
-----------------------------------------------------------------
*/

.detailLogo,
.layout-desktop .detailLogo,
.layout-tv .detailLogo {
  background-position-y: bottom;
  width: clamp(24rem, 40vw, 32rem);
  max-width: 90vw;
  left: 50%;
  top: 12rem;
  transform: translateX(-50%);
}

@media (max-width: 68.75em) {
  .detailLogo {
    display: inline-block;
  }
}

.detailPageWrapperContainer {
  background: linear-gradient(
    to bottom,
    #1d222900,
    var(--color-background) min(100%, 24rem),
    var(--color-background)
  );
}

.noBackdropTransparency .detailPagePrimaryContainer,
.noBackdropTransparency .detailPageSecondaryContainer,
.detailPagePrimaryContainer .detailRibbon {
  background: transparent;
}

.detailPageWrapperContainer .detailPagePrimaryContainer,
.detailPageWrapperContainer .detailPageSecondaryContainer {
  max-width: var(--detail-page-width);
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.detailPagePrimaryContainer {
  display: grid;
  grid-template-areas:
    "image ribbon"
    "image details";
  grid-template-rows: auto auto;
  grid-template-columns: var(--detail-page-poster-size) auto;
  gap: 1rem var(--detail-page-poster-gap);
  padding: 0 2rem;
}

@media only screen and (max-width: 50rem) {
  .detailPagePrimaryContainer {
    grid-template-areas:
      "image ribbon"
      "details details";
    --detail-page-poster-gap: 2rem;
    --detail-page-poster-size: 12rem;
  }
}

.detailPagePrimaryContainer > * {
  position: relative !important;
  padding: 0 !important;
  margin: 0 !important;
}

.detailPagePrimaryContainer .detailImageContainer {
  grid-area: image;
}

.detailPagePrimaryContainer .detailImageContainer .card {
  position: sticky;
  top: 6rem;
  left: unset;
  margin-bottom: unset;
  width: 100%;
  max-width: unset;
}

.detailPagePrimaryContainer .infoWrapper .nameContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
  margin-bottom: 0.25rem;
}

.detailPagePrimaryContainer .infoWrapper .nameContainer .originalTitle,
.detailPagePrimaryContainer .infoWrapper .itemMiscInfo {
  color: var(--color-text-muted);
}

.detailPagePrimaryContainer .detailRibbon {
  grid-area: ribbon;
  height: unset;
}

.detailPagePrimaryContainer .detailRibbon .mainDetailButtons {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(calc(-100% - 2rem));
}

@media only screen and (max-width: 50rem) {
  .detailPagePrimaryContainer .detailRibbon {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .detailPagePrimaryContainer .infoWrapper {
    webkit-flex: 0;
    flex: 0;
  }

  .detailPagePrimaryContainer .detailRibbon .mainDetailButtons {
    position: relative;
    transform: none;
  }
}

.detailPagePrimaryContainer .detailRibbon .mainDetailButtons > * {
  background: var(--color-background);
  border-radius: 0;
}

.detailPagePrimaryContainer .detailRibbon .mainDetailButtons .btnPlay {
  color: var(--color-background);
  background: var(--color-green);
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  margin-right: 1rem !important;
  padding-right: 1.45em !important;
}

.detailPagePrimaryContainer .detailRibbon .mainDetailButtons .btnPlay:hover {
  color: var(--color-text-white);
  background: var(--color-green-dark);
}

.detailPagePrimaryContainer .detailRibbon .mainDetailButtons .btnPlay::after {
  content: "Play";
  transform: translateY(-0.05em);
}

.detailPagePrimaryContainer
  .detailRibbon
  .mainDetailButtons
  .btnPlay
  ~ :not(.hide) {
  border-radius: 9999px 0 0 9999px;
  padding-left: 0.25rem;
}

.detailPagePrimaryContainer
  .detailRibbon
  .mainDetailButtons
  .btnPlay
  ~ :not(.hide)
  ~ :not(.hide) {
  border-radius: unset;
  background-color: var(--color-background);
}

.detailPagePrimaryContainer
  .detailRibbon
  .mainDetailButtons
  .btnPlay
  ~ :not(.hide):last-child {
  border-radius: 0 9999px 9999px 0;
  padding-right: 0.25rem;
}

.detailPagePrimaryContainer .detailPagePrimaryContent {
  grid-area: details;
}

.detailPagePrimaryContainer .detailSection {
  display: grid;
  grid-template-areas:
    "description"
    "tracks"
    "tags"
    "next-up"
    "seasons";
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.detailPagePrimaryContainer .detailPagePrimaryContent .trackSelections {
  grid-area: tracks;
}

.detailPagePrimaryContainer .detailPagePrimaryContent .detailSectionContent {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.detailPagePrimaryContainer .detailPagePrimaryContent .itemDetailsGroup {
  grid-area: tags;
}

.detailPagePrimaryContainer .detailPagePrimaryContent .nextUpSection {
  grid-area: next-up;
  margin-top: 2rem;
}

.detailPagePrimaryContainer .detailPagePrimaryContent #listChildrenCollapsible {
  grid-area: seasons;
}

.detailPagePrimaryContainer .detailPagePrimaryContent .detailSectionContent * {
  margin: 0;
}

.detailPagePrimaryContainer
  .detailPagePrimaryContent
  .detailSectionContent
  *:empty {
  display: none;
}

.detailPagePrimaryContainer .detailSection .tagline * {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: light;
  color: var(--color-text-gray);
  letter-spacing: 0.075em;
}

.detailPagePrimaryContainer .detailSection .overview * {
  font-family: var(--font-stack-tiempos-text);
  font-size: 1.15rem;
  color: var(--color-text-gray);
  line-height: 1.6;
}

.detailPagePrimaryContainer .detailSection .itemTags,
.detailPagePrimaryContainer .detailSection .itemExternalLinks,
.detailPagePrimaryContainer .detailSection .itemDetailsGroup .content {
  color: transparent;
  font-size: 0% !important;
}

.detailPagePrimaryContainer .detailSection .itemTags a,
.detailPagePrimaryContainer .detailSection .itemExternalLinks a,
.detailPagePrimaryContainer .detailSection .itemDetailsGroup .content a {
  color: var(--color-text-gray);
  font-size: 0.9rem;
  margin-right: 5px;
  margin-bottom: 5px;
}

.detailPagePrimaryContainer .detailSection .itemExternalLinks::before {
  content: "More at";
  font-size: 0.9rem;
  color: var(--color-text-gray);
  margin-right: 0.3rem;
}

.detailPagePrimaryContainer .detailSection .itemExternalLinks a {
  color: var(--color-text-gray);
  background-color: transparent;
  padding: 4px 5px 3px;
  border: 2px solid #303840;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  border-radius: 2px;
}

.detailPagePrimaryContainer .detailSection .trackSelections,
.detailPagePrimaryContainer .detailSection .itemDetailsGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailPagePrimaryContainer .detailSection .trackSelections > *,
.detailPagePrimaryContainer .detailSection .itemDetailsGroup > * {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
}

.detailPagePrimaryContainer .detailSection .trackSelections label,
.detailPagePrimaryContainer .detailSection .itemDetailsGroup .label {
  text-transform: uppercase;
  font-size: 0.9rem !important;
  font-weight: 400;
  color: #789;
  letter-spacing: 0.075em;
  border-bottom: 1px dotted #456;
  min-width: 8rem;
  margin: 0;
}

.detailPagePrimaryContainer .detailSection .trackSelections select {
  background: #303840 !important;
  padding: 6px 6px !important;
  white-space: nowrap;
  border-radius: 3px !important;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
  line-height: 1.5;
  margin: 0 !important;
  font-size: 0.9rem;
  border: 0px solid transparent !important;
}

.detailPagePrimaryContainer .detailSection .trackSelections select:disabled {
  color: var(--color-text-gray) !important;
}

.detailPageWrapperContainer .detailSection .trackSelections select:focus {
  background: #404850 !important;
}

.detailPageSecondaryContainer .detailPageContent {
  padding: 0;
}

/*
-----------------------------------------------------------------
Tags
-----------------------------------------------------------------
*/

.detailsGroupItem .button-link.emby-button,
.itemTags .button-link.emby-button,
.mediaInfoOfficialRating {
  color: var(--color-text-gray) !important;
  background: #283038;
  text-transform: capitalize;
  display: inline-block;
  padding: 3px 6px;
  white-space: nowrap;
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
  line-height: 1.25;
  font-size: 0.9rem;
  font-weight: 400;
}

.button-link.emby-button:hover,
.button-link.emby-button:active {
  color: var(--color-text) !important;
  background: #303840;
  text-decoration: none;
}

/*
-----------------------------------------------------------------
List Page
-----------------------------------------------------------------
*/

[dir="ltr"] .listItem {
  padding: 0.5rem 0.25rem;
}

.listItem:hover {
  background-color: var(--color-background-dark);
}

.listItem:hover .listItemBody .listItemBodyText {
  color: var(--color-text-white);
}

.listItem-border {
  border-color: var(--color-background-muted) !important;
}

.listItem .listItemImage {
  border-radius: var(--rounded);
  box-shadow: var(--card-outline);
}

.listItem .listItemImage .playedIndicator {
  display: none;
}

.listItem .listItemImage:has(.playedIndicator) {
  opacity: 0.2;
}

.listItem.listItem-largeImage {
  padding: 0;
  margin-top: 1rem;
}

.listItem.listItem-largeImage:first-of-type {
  margin-top: 3rem;
}

.listItem-largeImage .listItemBody .listItem-overview {
  transition: filter 0.5s ease-out;
  filter: blur(1rem);
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.listItem-largeImage:first-of-type .listItem-overview,
.listItem-largeImage:has(button[data-played="true"]) .listItem-overview,
.listItem-largeImage:has(button[data-played="true"])
  + .listItem-largeImage
  .listItem-overview {
  filter: none;
}

/*
-----------------------------------------------------------------
Collection Page
-----------------------------------------------------------------
*/

.collectionItems .verticalSection > * {
  padding: 0;
}

/*
-----------------------------------------------------------------
Misc
-----------------------------------------------------------------
*/

.playstatebutton-icon-played {
  color: var(--color-green);
}

.ratingbutton-icon-withrating {
  color: var(--color-orange);
}

.overview-controls {
  justify-content: start;
  transform: translateY(-0.5rem);
}

.overview-controls .overview-expand {
  padding: 0;
}
