/* Base Scyfin Oled theme */
@import url("https://cdn.jsdelivr.net/gh/loof2736/scyfin@latest/CSS/scyfin-theme.css");
@import url("https://cdn.jsdelivr.net/gh/loof2736/scyfin@latest/CSS/theme-oled.css");
@import url("https://cdn.jsdelivr.net/gh/loof2736/scyfin@latest/CSS/disable-static-drawer.css");

/* Letterboxd fonts */
@font-face {
  font-family: TiemposHeadlineWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-Bold.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-Bold.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TiemposHeadlineWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-BoldItalic.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-BoldItalic.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-BoldItalic.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposHeadlineWeb-BoldItalic.woff)
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: TiemposTextWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Regular.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Regular.woff2) format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: TiemposTextWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposTextWeb-RegularItalic.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-RegularItalic.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-RegularItalic.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-RegularItalic.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: TiemposTextWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Semibold.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Semibold.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Semibold.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-Semibold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: TiemposTextWeb;
  src: url(https://s.ltrbxd.com/fonts/TiemposTextWeb-SemiboldItalic.eot);
  src:
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-SemiboldItalic.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-SemiboldItalic.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/TiemposTextWeb-SemiboldItalic.woff)
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-Light-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-Light-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-Light-Web.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-Regular-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-Regular-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-Regular-Web.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-RegularItalic-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-RegularItalic-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-RegularItalic-Web.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-Semibold-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-Semibold-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-Semibold-Web.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-SemiboldItalic-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-SemiboldItalic-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-SemiboldItalic-Web.woff)
      format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: GraphikWeb;
  src: url(https://s.ltrbxd.com/fonts/Graphik-Bold-Web.eot);
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-Bold-Web.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/Graphik-Bold-Web.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: GraphikWeb;
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-BoldItalic-Web.woff2) format("woff2"),
    url(https://s.ltrbxd.com/fonts/Graphik-BoldItalic-Web.woff) format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: GraphikWeb;
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-Black-Web.woff2) format("woff2"),
    url(https://s.ltrbxd.com/fonts/Graphik-Black-Web.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: GraphikWeb;
  src:
    url(https://s.ltrbxd.com/fonts/Graphik-BlackItalic-Web.woff2)
      format("woff2"),
    url(https://s.ltrbxd.com/fonts/Graphik-BlackItalic-Web.woff) format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: PitchSansWeb;
  src: url(https://s.ltrbxd.com/fonts/PitchSansWeb-Medium.eot);
  src:
    url(https://s.ltrbxd.com/fonts/PitchSansWeb-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/PitchSansWeb-Medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PitchSansWeb;
  src: url(https://s.ltrbxd.com/fonts/PitchSansWeb-MediumItalic.eot);
  src:
    url(https://s.ltrbxd.com/fonts/PitchSansWeb-MediumItalic.eot?#iefix)
      format("embedded-opentype"),
    url(https://s.ltrbxd.com/fonts/PitchSansWeb-MediumItalic.woff)
      format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: ColorEmoji;
  src:
    local("Apple Color Emoji"), local("Segoe UI Emoji"),
    local("Segoe UI Symbol"), local("Noto Color Emoji");
}

/* Base */
:root {
  --font-stack-graphik:
    GraphikWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", "Hiragino Sans",
    Meiryo, sans-serif, ColorEmoji;
  --font-stack-tiempos-headline: TiemposHeadlineWeb, Georgia, serif, ColorEmoji;
  --font-stack-tiempos-text: TiemposTextWeb, Georgia, serif, ColorEmoji;
  --font-stack-pitch-sans:
    PitchSansWeb, Menlo, "Droid Sans Mono", "Lucida Console", Consolas, Monaco,
    Courier, monospace, ColorEmoji;

  --detailPageContentWidth: 80rem;
  --posterSize: 16rem;
  --posterGap: 3rem;

  color: #ddeeff;
}

* {
  --rounded-cards: 0.33rem !important;
  --primary-accent-color: #00e054;
  --secondary-accent-color: #00e05410;
  --primary-background-color: #14181c;
  --outline-color: transparent;
  font-family: var(--font-stack-graphik);
}

.backgroundContainer:not(.withBackdrop):not(
    .backgroundContainer-transparent
  )::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://s.ltrbxd.com/static/img/content-bg-CFRqxbz-.png)
    0 -1px repeat-x !important;
}

h1,
h1 * {
  font-family: var(--font-stack-tiempos-headline) !important;
  font-weight: 700 !important;
  font-size: 2rem !important;
  color: white;
}

.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
  color: #abc !important;
}

/* Cards */
.card {
  cursor: default !important;
}

.cardScalable::after {
  border-radius: var(--rounded-cards);
  pointer-events: none;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow:
    inset 0 0 0 1px rgba(221, 238, 255, 0.25),
    0 3px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-out;
}

.cardScalable:has(a):hover::after {
  box-shadow:
    inset 0 0 0 3px rgba(221, 238, 255, 0.5),
    0 3px 10px rgba(0, 0, 0, 0.15);
}

.card-hoverable:hover .cardOverlayContainer {
  opacity: 0 !important;
}

.cardScalable:hover .cardOverlayContainer {
  opacity: 1 !important;
}

.cardScalable:has(.playedIndicator) {
  opacity: 0.2 !important;
  transition: opacity 0.2s ease-out;
}

.cardScalable:has(.playedIndicator):hover {
  opacity: 1 !important;
}

.cardScalable .playedIndicator {
  opacity: 0;
}

.cardText-first {
  padding: 0.3em 0 0.15em;
  white-space: wrap;
}

.cardText-first bdi {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: wrap;
  line-height: 1.2;
}

/* Navigation */
.headerButton {
  margin: 0 !important;
}

.pageTitle.pageTitleWithLogo.pageTitleWithDefaultLogo {
  display: none !important;
}

.emby-tab-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.layout-desktop .emby-button-foreground {
  font-size: 1rem;
  top: unset !important;
}

.layout-desktop .headerTabs {
  margin-top: -53px !important;
}

/* Frontpage */
.sectionTitleContainer {
  color: white;
  margin-top: 2rem;
  padding-bottom: 0.25rem;
}

.sectionTitleContainer h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

.sectionTitleTextButton {
  margin-bottom: -7px !important;
}

.sectionTitleTextButton .chevron_right {
  transform: translateY(10%);
  transition: transform 0.2s ease-out;
}

.sectionTitleTextButton:hover .chevron_right {
  transform: translate(30%, 10%);
}

[dir="ltr"] .emby-scrollbuttons {
  top: 2rem;
}

/* Detail Page */
.detailLogo,
.layout-desktop .detailLogo,
.layout-tv .detailLogo {
  background-position-y: bottom;
  width: 40vw;
  left: 50% !important;
  top: 10% !important;
  transform: translateX(-50%);
}

.detailPageWrapperContainer {
  background: linear-gradient(
    to bottom,
    transparent 0,
    var(--primary-background-color) min(100%, 24rem)
  ) !important;
}

.detailPageWrapperContainer .detailPagePrimaryContainer {
  background: transparent !important;
  max-width: var(--detailPageContentWidth);
  margin: 0 auto;
  grid-template-columns: var(--posterSize) 1fr !important;
}

.detailPageWrapperContainer .detailImageContainer {
  position: relative;
}

.detailPageWrapperContainer .detailImageContainer .card {
  width: 100% !important;
  max-width: unset !important;
  position: sticky !important;
  top: 2rem !important;
}

.detailPageWrapperContainer .infoWrapper {
  margin-top: 270px !important;
  margin-left: calc(var(--posterSize) + var(--posterGap)) !important;
}

.detailPageWrapperContainer .detailSectionContent {
  padding-left: 0 !important;
}

.layout-desktop .detailPageWrapperContainer .detailSectionContent,
.layout-desktop .detailPageWrapperContainer .trackSelections,
.layout-desktop .detailPageWrapperContainer .itemDetailsGroup {
  margin-left: var(--posterGap) !important;
}

.layout-desktop .detailSectionContent,
.trackSelections,
.layout-desktop .detailsGroupItem,
.layout-desktop .localnav {
  border-width: 0px !important;
}

.detailPageWrapperContainer .detailSectionContent,
.trackSelections,
.detailPageWrapperContainer .detailsGroupItem,
.detailPageWrapperContainer .localnav {
  background: transparent !important;
}

.detailPageWrapperContainer .nameContainer {
  align-items: baseline;
  gap: 1rem;
}

.detailPageWrapperContainer .nameContainer .itemName.originalTitle {
  margin: 0 !important;
  color: #99aabb;
}

.detailPageWrapperContainer .detailSectionContent > * {
  margin: 0;
}

.detailPageWrapperContainer .itemMiscInfo {
  margin-top: 0px !important;
  margin-left: 0px !important;
}

.detailPageWrapperContainer .tagline {
  margin-top: 1.2rem;
}

.detailPageWrapperContainer .tagline * {
  text-transform: uppercase;
  font-size: 1rem !important;
  font-weight: light;
  color: #99aabb;
  letter-spacing: 0.075em;
}

.detailPageWrapperContainer .overview * {
  font-family: var(--font-stack-tiempos-text) !important;
  font-size: 1.15rem !important;
  color: #99aabb;
  line-height: 1.6;
}

.detailPageWrapperContainer .itemTags {
  margin-top: 1rem !important;
}

.detailPageWrapperContainer .itemTags,
.detailPageWrapperContainer .itemExternalLinks,
.detailPageWrapperContainer .itemDetailsGroup .content {
  color: transparent !important;
  font-size: 0% !important;
}

.detailPageWrapperContainer .itemTags a,
.detailPageWrapperContainer .itemExternalLinks a,
.detailPageWrapperContainer .itemDetailsGroup .content a {
  color: #9ab !important;
  font-size: 0.9rem !important;
  margin-right: 5px;
  margin-bottom: 5px;
}

.detailPageWrapperContainer .itemExternalLinks {
  margin-top: 1.5rem !important;
}

.detailPageWrapperContainer .itemExternalLinks::before {
  content: "More at";
  font-size: 0.9rem !important;
  color: #9ab !important;
  margin-right: 0.3rem;
}

.detailPageWrapperContainer .itemExternalLinks a {
  color: #9ab !important;
  background-color: transparent !important;
  padding: 4px 5px 3px;
  border: 2px solid #303840;
  font-size: 0.75rem !important;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  border-radius: 2px;
}

.detailPageWrapperContainer .detailSection .trackSelections,
.detailPageWrapperContainer .detailSection .itemDetailsGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: var(--posterGap) !important;
  margin-top: 1rem !important;
  margin-bottom: 1.5rem !important;
  padding: 0 !important;
}

.detailPageWrapperContainer .detailSection .trackSelections > *,
.detailPageWrapperContainer .detailSection .itemDetailsGroup > * {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  gap: 1.5rem;
  align-items: baseline;
}

.detailPageWrapperContainer .detailSection .trackSelections label,
.detailPageWrapperContainer .detailSection .itemDetailsGroup .label {
  text-transform: uppercase;
  font-size: 0.9rem !important;
  font-weight: 400;
  color: #789;
  letter-spacing: 0.075em;
  border-bottom: 1px dotted #456;
  width: 8rem;
}

.detailPageWrapperContainer .detailSection .trackSelections select {
  background: #303840 !important;
  padding: 6px 6px !important;
  white-space: nowrap;
  border-radius: 3px !important;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
  line-height: 1.5;
  margin: 0 !important;
  font-size: 0.9rem;
  border: 0px solid transparent !important;
}

.detailPageWrapperContainer .detailSection .trackSelections select:disabled {
  color: #9ab !important;
}

.detailPageWrapperContainer .detailSection .trackSelections select:focus {
  background: #404850 !important;
}

.detailPageWrapperContainer
  .detailSection
  .trackSelections
  .selectArrowContainer {
  transform: translateY(10%);
}

.detailPageWrapperContainer .detailPageSecondaryContainer {
  max-width: var(--detailPageContentWidth);
  margin: 0 auto;
}

.detailPageWrapperContainer .detailPageContent .emby-scrollbuttons {
  top: 0 !important;
}

/* Tags */
.button-link.emby-button {
  text-transform: capitalize;
  color: #9ab !important;
  background: #283038 !important;
  display: inline-block;
  padding: 3px 6px;
  white-space: nowrap;
  border-radius: 3px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
  line-height: 1.5;
  font-size: 0.9rem;
  font-weight: 400;
}

.button-link.emby-button:hover,
.button-link.emby-button:active {
  color: #def !important;
  background: #303840 !important;
  text-decoration: none !important;
}

/* Misc */
.playstatebutton-icon-played {
  color: var(--primary-accent-color);
}

.headerLeft {
  margin-left: 15px !important;
}
